<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .container{
            max-width: 95%;
        }
        .form-container {
            width: 95%;
            max-width: 800px; /* 원하는 최대 너비로 설정 */
            margin: 0 auto; /* 폼을 가운데로 정렬 */
        }
        a {
            text-decoration: none;
            color:inherit;
        }
        .nav-link{
            color:inherit;
        }


    </style>
</head>
<body>

<nav class="navbar">
  <div class="container">
      <a class="navbar-brand " href="/">
      <img src="../image/youtubeLogo.png" alt="Logo" width="110" height="45" class="d-inline-block align-text-top"></a>
      <form class="d-flex form-container" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">
        Search
        </button>
      </form>
      <a class="navbar-brand" href="#">
      <img src="../image/login.png" alt="Logo" width="110" height="45" class="d-inline-block align-text-top"></a>
  </div>
</nav>


<div class="d-flex container" style="height: 100vh;">
<!--좌측 열-->
    <div class="d-flex flex-column col-8">
        <video class="rounded-3" height="500" width="900" controls>
            <source src="/videos/1.mp4"
                    th:src="@{|/videos/${video.id}.mp4|}"
                    type="video/mp4">
        </video>
        <h5 th:text="${video.videoName}">동영상 제목</h5>
    </div>
<!--우측 열-->
<div class="d-flex flex-column col-4" style="margin: 20px;">

    <a th:each="video : ${videos}" href="/video/1" th:href="@{|/video/${video.id}|}">
    <div class="card w-100 border-0">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="/image/1.png"
                     th:src="@{|/image/${video.id}.png|}"
                     class="img-fluid rounded-pill" height="" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h6 class="card-title" th:text="${video.videoName}">제목</h6>
                    <p class="card-text"><small class="text-muted">woody</small></p>
                    <p class="card-text"><small class="text-muted" th:text="'조회수 ' + ${video.clicked} + '회 · 방금 전'">조회수 590회 · 방금 전</small></p>
                </div>
            </div>
        </div>
    </div></a>

</div>

</div>

</body>
</html>